<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NETWORK TRAFFIC ANALYSER</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="src">Source IP</label>
            <input type="text" name="src">
        </p>
        <p>
            <label for="dst">Destination IP</label>
            <input type="text" name="dst">
        </p>
        <p>
            <input type="Submit" name="Execute">
        </p>
    </form>

</body>
</html>